<!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>AdminLTE Test application for Rails 6</h5>
      <p>
        Current Bugs:<hr>
        • Header navigation bar onHover CSS Behavior not same with <a href="https://adminlte.io/themes/v3/index2.html" class="text-info">original demo</a> <br>
        • Animation for the sidebar sometimes does not work when navigating to different pages
      </p>
    </div>
  </aside>
  <!-- /.control-sidebar -->